//refactor in cards

.article-card {

  .article-card-content {
    padding: $global-padding;

    .submitted-info {
      color: $dark-gray;
      margin-bottom: $global-margin / 4;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

}

#article-card-show-more {
  display: block;
  margin: 0 auto;
}
