.article-card {

  .article-card-content {
    padding: $global-padding;

    .submitted-info {
      color: $dark-gray;
      margin-bottom: $global-margin / 4;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .article-taxonomy, .submitted-date {
      i {
        font-size: 90%;
        font-style: normal;

        &:before {
          padding-right: 5px;
        }
      }
    }
  }
}
