button {
  background: $anchor-color;
  border-radius: 999rem;
  color: $white;
  line-height: 0.75; //kinda hacky
  padding: 0.75rem;

  &:hover {
    background: $anchor-color-hover;
  }

  & > i {
    & > span {
      display: none;
    }
  }

  &.button-icon-expand {
    &:hover {
      & > i {
        & > span {
          display: inline;
        }
      }
    }
  }
}
