.button {
  background: $teal-light;
  border: 0;
  box-shadow: 0px 1px $teal-dark;
  color: $white;
  line-height: 0.75; //kinda hacky
  padding: 1rem;

  &:hover {
    background: $teal;
  }

  & > i {
    & > span {
      display: none;
    }
  }

  &.button-icon-expand {
    &:hover {
      & > i {
        & > span {
          display: inline;
        }
      }
    }
  }
}

.input-group > :last-child, .input-group > :last-child.input-group-button > * {
  border-radius: 0 999rem 999rem 0;
}
