@include breakpoint(medium) {
  #front-page-tabs {
    display: flex;
    margin-bottom: 2 * $global-margin;
    min-height: 90vh;

    .tabs {
      display: flex;
      border: none;
      flex: 0 0 300px;
      flex-direction: column;
      order: 1;
      overflow-y: auto;
    }

    .tabs-title {
      float: none;
      min-height: 90px;
      width: 100%;

      &:nth-child(odd) {
        background: $light-gray;
      }

      a {
        align-items: center;
        display: flex;
        height: 100%;
        padding: $global-padding;

        &[aria-selected='true'] {
          color: $white;
        }
      }
    }

    .tabs-content {
      border: none;
      border-right: 1rem solid $accent;
      flex: 1 1 auto;

      .tabs-panel {
        height: 100%;

        .hero {
          .hero-content {
            width: auto;
          }
        }
      }
    }
  }
}
