.animate-fade {
  @include mui-animation(fade);
  animation-duration: 1s;
}

.animate-slide {
  @include mui-animation(slide);
  animation-duration: 10s;
}

.hero {
  align-items: center;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;

  &.hero-title {
    justify-content: flex-end;
  }

  .hero-title-text, .hero-content {
    background: rgba($dark-primary, 0.85);
    padding: 2em;
  }

  .hero-title-text {
    align-self: flex-end;
    position: relative;
    right: 1.5em;
  }

  .hero-content {
    max-width: 95%;
    width: 1000px;

    @include breakpoint(medium) {
      max-width: 75%;
    }

    h1 { font-size: 1.5rem; font-weight: 700; line-height: 2rem } h2 { font-size: 1.5rem; line-height: 2rem }

    @include breakpoint(medium) {
      h1 { font-size: 2.5rem; font-weight: 700; line-height: 3rem } h2 { font-size: 2rem; line-height: 2.5rem }
    }
  }
}


@include breakpoint(large) {
  .hero-margin {
    margin-bottom: 2 * $global-margin;
  }
}
