.reveal {
  border-radius: 5px;

  .reveal-content {
    padding: $global-padding;
  }

  .reveal-image-container {
    align-self: center;
  }

  .reveal-image-circle {
    border-radius: 50%;
  }
}

.reveal-overlay {
  .close-button {
    z-index: $reveal-zindex + 1;
  }
}
