.schedule {
  .tabs {
    border: none;
    border-bottom: 1rem solid $teal;
  }

  & .tabs-title {
    &:nth-child(odd) {
      background: $teal-offwhite;
    }

    a {
      padding: $global-padding;

      &:hover {
        color: white;
      }
    }

    &.is-active {
      a {
        background: $teal;
      }
    }
  }

  & .tabs-content {
    background: $light-gray;
    border: none;
    padding: $global-padding;

    & .tabs-panel {
      .event {
        background: white;
        text-align: center;

        h1 {
          background: $teal;
          color: white;
          font-size: 1em;
          padding: $global-padding;
        }
      }

      .cell {
        .accordion {
          margin-bottom: 0;
        }
      }
    }
  }
}
