.schedule {
  .tabs {
    border: none;
    border-bottom: 1rem solid $teal;
  }

  & .tabs-title {
    &:nth-child(odd) {
      background: $teal-offwhite;
    }

    a {
      padding: $global-padding;

      &:hover {
        color: white;
      }
    }

    &.is-active {
      a {
        background: $teal;
      }
    }
  }

  & .tabs-content {
    background: $light-gray;
    border: none;
    padding: $global-padding;

    & .tabs-panel {
      .event {
        background: white;
        text-align: center;

        .event-date {
          background: $teal;
          color: white;
          display: block;
          margin-bottom: $global-margin;
          padding: $global-padding;

          span {
            display: block;
          }

          .event-date-day {
            font-size: 2.5em;
            font-weight: bold;
            line-height: 1em;
          }
        }
        .event-title, .event-time, .event-location {
          padding: 0 $global-padding $global-margin $global-padding;
        }

        .event-time, .event-location {
          color: $dark-gray;
          &:before {
            padding-right: 5px;
          }
        }

        .event-title {
          color: $body-font-color;
          display: block;
        }
      }

      .cell {
        .accordion {
          margin-bottom: 0;
        }
      }
    }
  }
}
