.team-card {
  text-align: center;

  p:last-child {
    margin-bottom: 0;
  }

  > div, > a > div {
    padding: 2 * $global-padding;
    img {
      border-radius: 50%;
      width: 150px;
    }

  }
}

.team-card-single {
  @include breakpoint(medium) {
    margin-bottom: $global-margin !important;
    width: calc(100% - 2 * 0.46875rem) !important;

    > div {
      img {
        width: 250px;
      }
    }
  }

  @include breakpoint(large) {
    margin: 0 calc(25% + 0.46875rem) $global-margin calc(25% + 0.46875rem) !important;
    width: 50% !important;
  }
}
