<div style="background: white; border-radius: 3px; box-shadow: 0 3px 3px #cccccc;" class="grid-x grid-padding-x">
  <div class="small-12 medium-4">
    <img style="width: 100%;" src="https://via.placeholder.com/250x150" />
  </div>
  <div class="small-12 medium-8 cell">
    <h5><a href="">Beau gros titre d'un article</a></h5>
    <p>
      <span><i class="fi-paperclip">Taxonomie, Categorie, Trucmuche</i></span>
      <span><i class="fi-calendar">20/20/69</i></span>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
