<div class="cards article-card grid-x grid-padding-x">
  <div class="small-12 medium-4">
    <a href="#"><img style="width: 100%;" src="https://source.unsplash.com/random/250x150" /></a>
  </div>
  <div class="article-card-content small-12 medium-8">
    <h4><a href="">Beau gros titre d'un article</a></h4>
    <p class="submitted-info">
      <span class="article-taxonomy"><i class="fi-paperclip"><a href="#">Taxonomie</a>, <a href="#">Categorie</a>, <a href="#">Trucmuche</a></i></span>
      <span class="submitted-date"><i class="fi-calendar">20/20/69</i></span>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
