<div class="cell auto">
  <ul class="accordion" data-accordion>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Séances d’informations et présentation des projets et des grands chantiers</a>
      <div class="accordion-content" data-tab-content>
        <p>Panel 1. Lorem ipsum dolor</p>
        <a href="#">Nowhere to Go</a>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Soirée synthèse itinérante</a>
      <div class="accordion-content" data-tab-content>
        <p>Panel 1. Lorem ipsum dolor</p>
        <a href="#">Nowhere to Go</a>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Onglet 3</a>
      <div class="accordion-content" data-tab-content>
        <p>Panel 1. Lorem ipsum dolor</p>
        <a href="#">Nowhere to Go</a>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Onglet 4</a>
      <div class="accordion-content" data-tab-content>
        <p>Panel 1. Lorem ipsum dolor</p>
        <a href="#">Nowhere to Go</a>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Onglet 5</a>
      <div class="accordion-content" data-tab-content>
        <p>Panel 1. Lorem ipsum dolor</p>
        <a href="#">Nowhere to Go</a>
      </div>
    </li>
  </ul>
</div>
