#documentation+.cell>.sticky-container>.sticky {
  background: $medium-gray;
  max-height: 75vh;
  padding: $global-padding;
  overflow-y: auto;

  ul {
    list-style: none;
    margin: 0;
  }

  [data-magellan] a.is-active, [data-magellan] a.is-active:focus {
    color: $teal;
    text-decoration: underline;
  }
}
