.content {
  & p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: $global-margin;

    &.small-margin {
      margin-bottom: $global-margin / 4;
    }
  }

  padding: $global-padding;
  @include breakpoint(medium) {
    padding: 2 * $global-padding;
  }

  // @include breakpoint(large) {
  //   padding-top: 0;
  // }

  .img-full-width {
    width: 100%;
  }

  &.content-background {
    background: $white;
  }
}
