{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://kit.fontawesome.com/16c5dd238a.js" crossorigin="anonymous"></script>
  </head>
<body class="animate-fade">
  <div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
      <div class="top-bar">
        <div class="top-bar-left">
          <div class="menu-logo">
            <a><img src="assets/img/logo40.png" /></a>
          </div>
        </div>
        <div class="top-bar-right">
          <ul data-open="mainNav" class="menu">
            <li><button type="button" class="button">menu</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="mainNav" class="reveal large" data-reveal data-animation-in="slide-in-down fast" data-animation-out="slide-out-up fast">
    <button class="close-button" data-close="" aria-label="Close modal" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <div class="grid-x grid-padding-x">
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-lightbulb-on margin-default-bottom"></i>
        <h1>À Propos</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-building margin-default-bottom"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>

        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
    </div>
  </div>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
