{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://kit.fontawesome.com/16c5dd238a.js" crossorigin="anonymous"></script>
  </head>
<body class="animate-fade">
  <div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
      <div class="top-bar">
        <div class="top-bar-left">
          <div class="menu-logo">
            <a class="show-for-small-only" href=""><img src="assets/img/logo50.png" /></a>
            <a class="show-for-medium" href=""><img src="assets/img/logotext50.png" /></a>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href=""><i class="far fa-universal-access"></i></a></li>
            <li><a href=""><i class="fas fa-paper-plane"></i></a></li>
            <li><i data-open="mainNav" class="fas fa-bars"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="mainNav" class="reveal large" data-reveal data-animation-in="slide-in-down fast" data-animation-out="slide-out-up fast">
    <button class="close-button" data-close="" aria-label="Close modal" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <div class="grid-x grid-padding-x">
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-lightbulb-on margin-default-bottom"></i>
        <h1>À Propos</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-building margin-default-bottom"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>

        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
      <nav class="mainNav-section cell small-6 large-3">
        <i class="fad fa-clipboard-list margin-default-bottom" aria-hidden="true"></i>
        <h1>Titre de section</h1>
        <ul>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
          <li><a href="">Lien Lien Lien Lien</a></li>
        </ul>
      </nav>
    </div>
  </div>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<footer class="footer">
  <div class="grid-x grid-padding-x footer-sitemap">
    <nav class="cell small-12 medium-4">
      <h1>Titre de section</h1>
      <ul>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
      </ul>
    </nav>
    <nav class="cell small-12 medium-4">
      <h1>Titre de section</h1>
      <ul>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
      </ul>
    </nav>
    <nav class="cell small-12 medium-4">
      <h1>Titre de section</h1>
      <ul>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
        <li><a href="">Lien Lien Lien Lien</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer-coords">
    <ul class="menu">
      <li><i class="fas fa-map-marker-alt">1550, rue Metcalfe – Bureau 1414, Montréal (Québec) H3A 1X6</i></li>
      <li><i class="fas fa-phone-alt">514 872-3568</i></li>
      <li><i class="fas fa-subway">Station de métro Peel</i></li>
      <li><i class="fas fa-subway"><a href="">Trajet accessible</a></i></li>
    </ul>
  </div>
  <div class="footer-social">
    <ul class="menu">
      <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
      <li><a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.youtube.com/"><i class="fab fa-youtube-square"></i></a></li>
      <li><a href="https://www.flickr.com/"><i class="fab fa-flickr"></i></a></li>
    </ul>
  </div>
</footer>

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
